{% extends 'base.html.twig' %}

{% block title %}Créer un compte FuneraireFrance{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 p-2 ml-auto mr-auto"> 
                    <form class="row" method="POST" action="{{url('app_register')}}">
                        {{ form_widget(registrationForm._token, {attr: {'class' : 'form-control', 'name' : '_token'}}) }}
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.name, 'Nom') }}
                            {{ form_widget(registrationForm.name, {attr: {'class' : 'form-control', 'name' : 'name'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.firstName, 'Prénoms') }}
                            {{ form_widget(registrationForm.firstName, {attr: {'class' : 'form-control', 'name' : 'firstName'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.email, 'Email') }}
                            {{ form_widget(registrationForm.email, {attr: {'class' : 'form-control', 'name' : 'email'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.phone, 'Numéro de téléphone') }}
                            {{ form_widget(registrationForm.phone, {attr: {'class' : 'form-control', 'name' : 'phone'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.address, 'Adresse') }}
                            {{ form_widget(registrationForm.address, {attr: {'class' : 'form-control', 'name' : 'address'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.birthday, 'Date de maissance') }}
                            {{ form_widget(registrationForm.birthday, {attr: {'class' : '', 'name' : 'birthday'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.type, 'Type de compte') }}
                            {{ form_widget(registrationForm.type, {attr: {'class' : 'form-control', 'name' : 'type'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.siret, 'SIRET') }}
                            {{ form_widget(registrationForm.siret, {attr: {'class' : 'form-control', 'name' : 'siret'}}) }}
                        </div>
                        <div class="col-12 form-group">
                            {{ form_label(registrationForm.company, "Nom de l'entreprise") }}
                            {{ form_widget(registrationForm.company, {attr: {'class' : 'form-control', 'name' : 'company'}}) }}
                        </div>
                        <div class="col-lg-12 form-group">
                            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
                            {{ form_widget(registrationForm.plainPassword, {attr: {'class' : 'form-control', 'name' : 'password'}}) }}
                        </div>
                        {#<div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.firstName, 'Prénoms') }}
                            {{ form_widget(registrationForm.firstName, {attr: {'class' : 'form-control'}}) }}
                        </div>
                        <div class="col-lg-6 form-group">
                            {{ form_label(registrationForm.firstName, 'Prénoms') }}
                            {{ form_widget(registrationForm.firstName, {attr: {'class' : 'form-control'}}) }}
                        </div>#}

                        {% set cgv = getPage(all_pages, 'cgv') %}
                        <div class="col-lg-12 form-group">
                            {{ form_widget(registrationForm.agreeTerms, {attr: {'checked' : 'checked'}}) }}
                            <span>Vous confirmez avoir lu <a href="{{url('page', {'slug' : cgv.slug})}}">les cguv</a> et les accepter</span> 
                        </div> 
                        
                        
                        <div class="col-lg-12 form-group">
                            <button type="submit" class="btn btn-dark">Créer un compte</button>
                        </div>

                            
                    </form>
            </div>
        </div>
    </div>
    
    
{% endblock %}

{% block javascripts %}
    <script>
        function typeSelected($value){
            if($value == '2'){
                $('#registration_form_company').parent().show();
                $('#registration_form_siret').parent().show();
            }else{
                $('#registration_form_company').parent().hide();
                $('#registration_form_siret').parent().hide();
            }
        }

        $('#registration_form_type').change(function(){
            $value = $(this).val();
            typeSelected($value);
            console.log($value);
        });

        

        $('#registration_form_type').trigger('change');
    </script>
{% endblock %}